<div class="body-container">   
    <div class="back-container">
        <%= link_to "◄ Back", "/customers" %>
    </div>
    <h1>Edit Customer</h1>

    <%= render "form", customer: @customer %>
</div>