<h1>Items</h1>
<%= link_to "Add Item", new_item_path %>
<ul>
  <% @items.each do |item| %>
    <li>
      <a href="<%= item_path(item)%>">
        <%= item.product_description %>
      </a>
    </li>
    <%= link_to "Destroy", item_path(item),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %>
  <% end %>
</ul>

