<div class="body-container">
    <div class="back-container">
        <%= link_to "◄ Back", "/transactions" %>
    </div>
    <h1>Add Transaction</h1>

    <%= render "form", transaction: @transaction %>

</div>